<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gleneagles Guards</title>
</head>
<body>
    <h1>Gleneagles Guards</h1>
    <ul>
        <li><a href="/blake_butz">Blake Butz</a></li>
        <li><a href="/kate_north">Kate North</a></li>
        <li><a href="/emerson_metzger">Emerson Metzger</a></li>
        <li><a href="/avery_larsen">Avery Larsen</a></li>
        <li><a href="/austin_page">Austin Page</a></li>
        <li><a href="/riley_white">Riley White</a></li>
        <li><a href="/robert_wade">Robert Wade</a></li>
        <li><a href="/tatum_plunk">Tatum Plunk</a></li>
        <li><a href="/michael_vangruber">Michael Vangruber</a></li>
        <li><a href="/jackson_blakely">Jackson Blakely</a></li>
        <li><a href="/addison_clark">Addison Clark</a></li>
        <li><a href="/madison_johnson">Madison Johnson</a></li>
        <li><a href="/nathan_debergh">Nathan Debergh</a></li>
        <li><a href="/asher_bobbett">Asher Bobbett</a></li>
        <li><a href="/blake_ucherek">Blake Ucherek</a></li>
        <li><a href="/brent_horwitz">Brent Horwitz</a></li>
        <li><a href="/ethan_van_horn">Ethan Van Horn</a></li>
        <li><a href="/kai_king">Kai King</a></li>
        <li><a href="/madeline_ellison">Madeline Ellison</a></li>
        <li><a href="/tyler_carpenter">Tyler Carpenter</a></li>
        <li><a href="/holden">Holden</a></li>
        <li><a href="/isabella">Isabella</a></li>
        <li><a href="/jayden_garcia">Jayden Garcia</a></li>
        <li><a href="/naya_okonkwo">Naya Okonkwo</a></li>
    </ul>
</body>
</html>
